.destination {
  margin: 4rem 6rem;
}
.destination h1 {
  font-size: 3rem;
}
.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.first-des-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
}
.des-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}
.des-text h2 {
  padding-bottom: 1rem;
}
.des-text .title {
  padding-top: 1rem;
}
.text-title {
  margin-top: 4rem;
  font-style: italic;
  font-size: 1.5rem;
}
.team-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}
.first-des img .image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.image img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}
@media screen and (max-width: 850px) {
  .destination {
    margin: 4rem 2rem;
  }
  .first-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .first-des-reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .des-text {
    width: 100%;
  }
  .des-text h2 {
    font-size: 1.5rem;
  }
  .des-text p {
    font-size: 0.9rem;
  }
  .text-title {
    margin-top: 2.5rem;
    font-style: italic;
    font-size: 0.9rem;
  }

  .image {
    width: 100%;
    margin: 1.8rem 0;
  }
  .image img {
    height: 250px;
  }
  .destination h1 {
    font-size: 2rem;
  }
}

/* OUR TEAM */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #019; */
  height: 50vh;
  /* width: 88vw; */
}

.main-container {
  min-height: 100vh;
  min-width: 400px;
  display: flex;
  align-items: center;
  padding-block: 1rem;
}
.post {
  --tint: #01959a;
  --border-radius: 30px;
  --background: #fff;
  --color: #fff;
  min-height: 300px;
  background-color: var(--background);
  width: 250px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-items: center;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.post:hover,
.post:focus,
.post.active {
  transform: scale(1.1);
}

.thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tint);
  padding-block: 1rem;
  border-bottom-left-radius: var(--border-radius);
}
.thumbnail .img-container {
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid var(--background);
}

.thumbnail .img-container img {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.header .title {
  flex: 1;
  border-top-right-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
  position: relative;
  background-color: inherit;
}
.header .title::before,
.header .title::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 30px;
  right: 0;
  top: 0;
}

.header .title::before {
  background: var(--tint);
}

.header .title::after {
  border-top-right-radius: var(--border-radius);
  background-color: var(--background);
}
.post .body {
  padding-inline: 0.85rem;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    height: auto;
    width: auto;
  }
  .main-container {
    /* flex-direction: column; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    min-width: 100%;
  }

  .main-container .post {
    margin-bottom: 1rem;
    min-height: 360px;
    margin-right: 0;
  }
  /* .post-col-3 {
    width: 29%;
  } */

  .main-container .post:hover,
  .main-container .post:focus {
    transform: scale(1.05);
  }
}
