/* Style your components */
.footer {
    /* padding: 4rem 10rem; */
    background: #222;
    color: #fff;
  }
  .top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 6rem 0 6rem;
  }
  .top i {
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
  }
  .top i:hover {
    color: #01959a;
  }
  .bottom {
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
  }
  .bottom div {
    display: flex;
    flex-direction: column;
  }
  .bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
  }
  .bottom a {
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .bottom a:hover {
    color: #01959a;
    text-decoration: underline;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid bisque;
    margin-top: 4rem;
    font-size: 0.9rem;
  }
  @media screen and (max-width: 850px) {
    .footer i {
      margin: 1rem 1rem 0 0;
    }
    .bottom {
      gap: 2rem;
    }
  }
  